html, body, .container {
  height: 100%;
  background-color: #f9f9fb;
  font-family: PingFangSC-Regular;
  box-sizing: border-box;
  overflow: hidden;
}

/* 顶部 label */
.label-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 70rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.label-wrap .label {
  margin: 0 40rem;
  display: flex;
  align-items: center;
  font-size: 24rem;
  color: #8A9094;
}

.label-wrap .label-icon {
  margin-right: 10rem;
  width: 24rem;
  height: 24rem;
  border-radius: 6rem;
  background: #F5F7FA;
  border: 2rem solid #DEE2EA;
}

.label-icon.available {
  background-image: radial-gradient(circle at 50% 0%, #E5EDFF 0%, #E0E9FF 100%);
}

.label-icon.appointed {
  background: rgba(255,226,182,0.50);
  background-image: radial-gradient(circle at 50% 0%, #E4E4E4 0%, #D2D2D2 100%);
}

.label-wrap .label-name {
  line-height: 24rem;
}

/* SVG */
.svg-outer {
  box-sizing: border-box;
  height: 100%;
  padding: 70rem 10rem 10rem 10rem;
  overflow: hidden;
}

.svg-inner {
  width: fit-content;
  background-repeat: no-repeat;
}

/* 选位信息 box */
.info-box {
  box-sizing: border-box;
  position: absolute;
  left: 30rem;
  right: 30rem;
  top: 100%;
  height: 229rem;
  padding: 30rem 40rem;
  background: #FFFFFF;
  box-shadow: 0 8rem 20rem 0 rgba(138,144,148,0.20);
  border-radius: 30rem;
  transition: transform .1s linear;
}

.info-box .place-info {
  height: 40rem;
  width: 400rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40rem;
  font-size: 28rem;
  color: #3C464F;
  font-family: PingFangSC-Semibold;
}

.info-box .appoint-btn {
  margin-top: 30rem;
  height: 88rem;
  line-height: 88rem;
  text-align: center;
  background: #3C7CFC;
  border-radius: 20rem;
  font-size: 32rem;
  color: #FFFFFF;
  letter-spacing: 0;
}

.pay-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  height: 430rem;
  padding: 30rem 40rem;
  background: #FFFFFF;
  box-shadow: 0 8rem 20rem 0 rgba(138,144,148,0.20);
  border-top-left-radius: 30rem;
  border-top-right-radius: 30rem;
  transition: transform .3s linear;
  z-index: 10;
}

.pay-box .pay-item {
  height: 82rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28rem;
  border-bottom: solid #eee 1rem;
}
.pay-box .select-coupon {
  height: 82rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28rem;
}

.pay-item .text {
  width: 200rem;
}

.pay-item .select-icon {
  box-sizing: border-box;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  border: solid #ccc 1rem;
}

.pay-item .select-icon.active {
  background-color: #FF6D25;
}

.select-coupon .coupon-text {
  color: #FF6D25;
  font-size: 28rem;
  font-weight: bold;
}

.pay-box .confirm-btn {
  margin-top: 30rem;
  height: 88rem;
  line-height: 88rem;
  text-align: center;
  background: #ccc;
  border-radius: 20rem;
  font-size: 32rem;
  color: #FFFFFF;
  letter-spacing: 0;
}

.pay-box .confirm-btn.active {
  background: #3C7CFC;
}