html, body, .container {
  height: 100%;
  background-color: #f9f9fb;
  font-family: PingFangSC-Regular;
  box-sizing: border-box;
}

/* 顶部 label */
.label-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 70rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.label-wrap .label {
  margin: 0 40rem;
  display: flex;
  align-items: center;
  font-size: 24rem;
  color: #8A9094;
}

.label-wrap .label-icon {
  margin-right: 10rem;
  width: 24rem;
  height: 24rem;
  border-radius: 6rem;
  background: #F5F7FA;
  border: 2rem solid #DEE2EA;
}

.label-icon.available {
  background-image: radial-gradient(circle at 50% 0%, #E5EDFF 0%, #E0E9FF 100%);
}

.label-icon.appointed {
  background: rgba(255,226,182,0.50);
  background-image: radial-gradient(circle at 50% 0%, #E4E4E4 0%, #D2D2D2 100%);
}

.label-wrap .label-name {
  line-height: 24rem;
}

/* SVG */
.svg-outer {
  box-sizing: border-box;
  height: 100%;
  padding: 70rem 10rem 10rem 10rem;
  overflow: hidden;
}

.svg-inner {
  width: fit-content;
  background-repeat: no-repeat;
}

/* 选位信息 box */
.info-box {
  box-sizing: border-box;
  position: absolute;
  left: 30rem;
  right: 30rem;
  bottom: 30rem;
  height: 268rem;
  padding: 30rem 40rem;
  background: #FFFFFF;
  box-shadow: 0 8rem 20rem 0 rgba(138,144,148,0.20);
  border-radius: 30rem;
}

.info-box .place-info {
  margin-bottom: 8rem;
  height: 40rem;
  width: 400rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40rem;
  font-size: 28rem;
  color: #3C464F;
  font-family: PingFangSC-Semibold;
}

.info-box .address-wrap {
  display: flex;
  align-items: center;
  font-size: 24rem;
  color: #8A9094;
}

.info-box .icon-position {
  margin-right: 4rem;
  width: 32rem;
  height: 32rem;
}

.info-box .seat-info {
  position: absolute;
  right: 40rem;
  top: 30rem;
  width: 132rem;
  height: 80rem;
  line-height: 80rem;
  border: 1rem solid #DEE2EA;
  border-radius: 20rem;
  text-align: center;
}

.info-box .appoint-btn {
  margin-top: 40rem;
  height: 88rem;
  line-height: 88rem;
  text-align: center;
  background: #3C7CFC;
  border-radius: 20rem;
  font-size: 32rem;
  color: #FFFFFF;
  letter-spacing: 0;
}
